*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto ;
}
.header{
    background: linear-gradient(to right, #76b852, #8dc26f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.header ul{
    display: flex;
    list-style: none;
    position: relative;
}
.header li{
    padding:0 1rem;
}
.menu .submenu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    background-color: aqua;
}
.submenu li{
    padding: 0.5rem ;
}
.menu li:hover .submenu{
    display: flex;
}