* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid {
    background-color: yellowgreen;
    height: 525px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.raj {
    border: 2px solid red;
    height: 200px;
    width: 200px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.ram1,
.ram2,
.ram3,
.ram4 {
    background-color: azure;
    padding: 8px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.ram2::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #085078, #85D8CE);
    transition: all 0.6s ease;
    z-index: -1;
}

.ram2:hover::before {
    bottom: 0;
}

.ram3::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: -15%;
    width: 15%;
    transition: all 1.5s;
    background-color:yellow ;
}
.ram3:hover::before{left: 110%;}

.ram4::before{content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    top: -60%;
    left: -60%;
    height: 100%;
    transition: all 1.5s; background-color: blue;
    border-radius: 50%;


}
.ram4:hover::before {transform: scale(5.5); }

